.stlFormulario{
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
    margin-bottom: 164px;
}

input{
    margin-bottom: 10px;
}

.stlButton{
    background-color: #e71d36;
    border-radius: 100px;
    font-size: 18px;
    border: solid black 1px;
    cursor: pointer;
    padding: 0px 10px;
    margin: 5px 5px;
}