.header{
    background-color: black;
    border-bottom: 3px solid #e71d36;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-evenly;
}

.stlImgLogo{
    width: 180px;
    padding: 10px 0px 5px 10px;
}

.li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
}

.a{
    font-family: 'Arial', 'Helvetica';
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #e71d36;
    margin-right: 100px;
}

.a:hover{
    color: white;
}

.imgCart{
    height: 60px;
    width: 60px;
    margin-top: 20px
}