.stlItemDiv, .stlDetailDiv{
    padding: 0px 10px 5px 10px;
    background-color: black;
    margin: 0px 10px 5px 10px;
    color: #e71d36;
    font-size: 1.5rem;
    border-radius: 7px;
}

.stlDetailDiv{
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 36px;
}

.stlDetailDescp{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stlImgItem{
    width: 250px;
    height: 250px;
}

.stlImgDetail{
    width: 350px;
    height: 350px;
}

.stlButton{
    background-color: #e71d36;
    border-radius: 100px;
    font-size: 18px;
    border: solid black 1px;
    cursor: pointer;
    padding: 0px 10px;
}

.stlPrice{
    font-size: 2rem;
}