.stlCount{
    display: flex;
    justify-content: center;
}

.stlButtonCount, .stlButtonCountGoCart{
    background-color: #e71d36;
    border-radius: 100px;
    font-size: 18px;
    border: solid black 1px;
    cursor: pointer;
    padding: 0px 10px;
    
}

.stlButtonCountGoCart{
    background-color: orangered;
}

.stlStock{
    background-color: white;
    border-radius: 100px;
    margin: 10px;
}